body{
    background-image:url("Images/bg.jpg");
    background-repeat:  no-repeat;
    background-size:300%;

}

@keyframes typing{
    from{
      width:3ch;
    }
  
    }
    
    @keyframes typin{
    from{
      width:0ch;
    }
    }
  
    @keyframes zoomout
  {from{transform:scale(0)}
  to{transform:scale(1)}
  }
  
  @keyframes fromtop
  {
  from{margin-left:200px;}
  to{margin-top:10px;}
  
  }
 
  
  @media only screen and (max-width:600px)
  { 
    body{background:pink;}

    #navbar ol li
    {
      display:inline;
      margin-left:5px;
      background:#0aa5fe;
      padding:5px;
      border-radius:10px;
    }
    #navbar
    {
      margin-top:-300px;
      margin-left:-10px;
    }
    #navbar a:link
    {
      text-decoration:none;
      color:white;
      font-size:15px;
    }

  #img
  {
  width:400px;
  margin-left:90px;
  animation:zoomout 2s ease-out;
  }
  #a
  {
  font-size:25px;
  width:100px;
  box-shadow:2px 2px 5px  black;
  margin-left:20px;
  margin-top:-150px;
  text-wrap:nowrap;
  overflow:hidden;
  display:flex;  
  animation:typin 2s steps(20) infinite alternate-reverse;
  }
  #b
  {
  font-size:25px;
  margin-top:30px;
  margin-left:20px;
  animation:fromtop 2s,zoomout 2s ease-out;
  }
  #c
  {
  font-size:25px;
  color:#0aa5fe;
  margin-left:80px;
  margin-top:-47px;
  box-shadow:2px 3px;
  width:140px;
  animation:fromtop 3s,zoomout s ease-out;
  }
  #d
  {
  margin-left:20px;
  font-size:25px;
  margin-top:50px;
  color:#0aa5fe;
  box-shadow:2px 3px;
  width:200px;
  height:30px;
  text-wrap:nowrap;
  overflow:hidden;
  animation:typing 4s steps(20) infinite;
  }
  }
  @media only screen and (min-width:600px)
  {
    body{background:yellow;}
  
  header{
  
  margin-top:-420px;
  margin-left:10px;
  }
  
  #img
  {
  width:700px;
  margin-top:-100px;
  margin-left:180px;
  animation:zoomout 2s ease-out;
  display: flex;
  }
  #a
  {
  font-size:50px;
  width:150px;
  box-shadow:2px 2px 5px  black;
  margin-left:20px;
  margin-top:-300px;

  animation:typin 2s steps(20) infinite alternate-reverse;
  }
  #b
  {
  font-size:50px;
  margin-top:50px;
  margin-left:20px;
  animation:fromtop 2s,zoomout 2s ease-out;
  }
  #c
  {
  font-size:50px;
  color:#0aa5fe;
  margin-left:150px;
  margin-top:-87px;
  box-shadow:2px 3px;
  width:250px;
  animation:fromtop 3s,zoomout s ease-out;
  }
  #d
  {
  margin-left:20px;
  font-size:50px;
  margin-top:50px;
  color:#0aa5fe;
  box-shadow:2px 3px;
  width:350px;
  height:50px;
  text-wrap:nowrap;
  overflow:hidden;
  animation:typing 4s steps(20) infinite;
  }
  }
  @media only screen and (min-width:768px)
  {body{background:blue;}
  

  header{
  
  margin-top:-420px;
  margin-left:10px;
  }
  
  #img
  {
  width:1000px;
  margin-top:-100px;
  margin-left:320px;

  
  }
  #a
  {
  
  margin-left:40px;
  margin-top:-400px;
font-size:70px;

  #b
  {
  font-size:70px;
  margin-top:30px;
  margin-left:40px;
  }
  #c
  {
  font-size:70px;
  margin-left:190px;
  margin-top:-90px;
  box-shadow:2px 3px;
  }
  #d
  {
  margin-left:20px;
  font-size:70px;
  margin-top:50px;
  color:#0aa5fe;
  box-shadow:2px 3px;
  width:300px;
  height:50px;
  text-wrap:nowrap;
  overflow:hidden;
  animation:typing 4s steps(20) infinite;
  }
  }
  
  
  @media only screen and (min-width:992px)
  {body{background:red;}
   
  header{
  
  margin-top:-420px;
  margin-left:10px;
  }
  
  #img
  {
  width:800px;
  margin-top:-100px;
  margin-left:80px;
  animation:zoomout 2s ease-out;
  display: flex;
  }
  #a
  {
  font-size:40px;
  width:100px;
  box-shadow:2px 2px 5px  black;
  margin-left:20px;
  margin-top:100px;
  text-wrap:nowrap;
  overflow:hidden;
  display:flex;
  animation:typin 2s steps(20) infinite alternate-reverse;
  }
  #b
  {
  font-size:40px;
  margin-top:30px;
  margin-left:20px;
  animation:fromtop 2s,zoomout 2s ease-out;
  }
  #c
  {
  font-size:40px;
  color:#0aa5fe;
  margin-left:120px;
  margin-top:-54px;
  box-shadow:2px 3px;
  width:210px;
  animation:fromtop 3s,zoomout s ease-out;
  }
  #d
  {
  margin-left:20px;
  font-size:40px;
  margin-top:50px;
  color:#0aa5fe;
  box-shadow:2px 3px;
  width:300px;
  height:50px;
  text-wrap:nowrap;
  overflow:hidden;
  animation:typing 4s steps(20) infinite;
  }
}